* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Awal Navbar */
nav {
    background-color: #1F2235;
    padding: 15px;
}

nav ul {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    font-size: 1em;
    color: #cacbcc;
    margin: 0 15px;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    /*display: block;
    */bottom: -1px;
    transform: scaleX(0);
    transition: transform .5s ease;
    transform-origin: right;
    background-color: #FE4E57;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

a {
    text-decoration: none;
    color: inherit;
}
/* Akhir Navbar */

/* Awal Home */
.home {
    display: flex;
    background-color: #2c2d41;
    width: 100%;
    height: 30em;
    padding: 0 15rem;
    align-items: center;
    position: relative;
    justify-content: center;
}

.img-home {
    position: relative;
    bottom: -35.5px;
    width: 400px;
}

.sosmed-home {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.medsos-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    color: #cacbcc;
    transition: all 200ms ease;
    /*justify-content: center; */
    /* border: 2px solid #FE4E57; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.facebook,
.twitter,
.instagram,
.github {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    color: #cacbcc;
    transition: all 200ms ease;
    /*justify-content: center;
    */border: 2px solid #FE4E57;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.facebook:hover,
.twitter:hover,
.instagram:hover,
.github:hover {
    background-color: #FE4E57;
}

.info-name {
    position: relative;
    margin-bottom: 20px;
}

.info-name h1 {
    font-size: 3em;
    color: #cacbcc;
    margin-bottom: 10px;
}

.teks-typing {
    position: relative;
}

.info-name .teks-typing p {
    font-size: 1.5em;
    width: 20em;
    color: #cacbcc;
    line-height: 35px;
    margin-bottom: 20px;
}

.teks-typing .teks {
    position: relative;
}

.info-name .teks-typing span.sec-teks {
    position: absolute;
    bottom: 1px;
    font-weight: bold;
    /* right: 1.1em; */
    color: #fe4e57;
    font-size: 1.5rem;
}

.teks.sec-teks::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2c2d41;
    border-left: 2px solid #fe4e57;
    animation: animate 4s steps(12) infinite;
    -webkit-animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

button.button, button.btn {
    border-radius: 30px;
    border: 2px solid #FE4E57;
    background: none;
    color: #cacbcc;
    font-size: 16px;
    cursor: pointer;
    transition: .8s;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

.button {
    width: 9em;
    height: 2.5em;
}

.button1 span{
    position: absolute;
    left: 0;
    transform: translate(18%, -50%);
    -webkit-transform: translate(18%, -50%);
    -moz-transform: translate(18%, -50%);
    -ms-transform: translate(18%, -50%);
    -o-transform: translate(18%, -50%);
}

.btn1 {
    position: relative;
}

button.btn::before, button.button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fe4e57;
    /* z-index: -1; */
    transition: 0.8s;
}

button.btn1::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

button.btn1:hover::before{
    height: 180%;
}

.button-home span {
    /*z-index: 99999;
    */position: absolute;
    left: 0;
    transform: translate(25%, -50%);
    -webkit-transform: translate(25%, -50%);
    -moz-transform: translate(25%, -50%);
    -ms-transform: translate(25%, -50%);
    -o-transform: translate(25%, -50%);
}

/* Akhir Home */

/* Awal Skills */
.skills {
    width: 100%;
    height: max-content;
    padding: 4rem 15rem;
    background-color: #1F2235;
    display: flex;
    flex-direction: column;
}

.up-skills {
    text-align: center;
}

.up-skills h2 {
    color: #cacbcc;
    margin: 20px 0;
}

.up-skills .skills-desc {
    color: #cacbcc;
    width: 30em;
    margin: auto;
}

span.garis-bawah {
    /* width: 10px; */
    /* height: 50px; */
    border: 1px solid #FE4E57;
    /* background-color: #FE4E57; */
}

hr {
    width: 50px;
    /* text-align: center; */
    margin: 30px auto 50px;

    border: 1px solid #FE4E57;
}

.my-skills {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: ; */
    justify-content: center;
}

.my-skills .satu i {
    font-size: 35px;
    color: #FE4E57;
    
}

.my-skills .satu {
    width: 17rem;
    color: #cacbcc;
    background-color: #2c2d41;
    padding: 40px  30px 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.my-skills .satu h4 {
    margin: 20px 0;
}

.my-skills .dua i {
    font-size: 35px;
    color: #FE4E57;
    
}

.my-skills .dua {
    width: 17rem;
    color: #cacbcc;
    background-color: #2c2d41;
    padding: 40px  30px 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.my-skills .dua h4 {
    margin: 20px 0;
}

.my-skills .tiga i {
    font-size: 35px;
    color: #FE4E57;
    
}

.my-skills .tiga {
    width: 17rem;
    color: #cacbcc;
    background-color: #2c2d41;
    padding: 40px  30px 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.my-skills .tiga h4 {
    margin: 20px 0;
}

.my-skills .empat i {
    font-size: 35px;
    color: #FE4E57;
    
}

.my-skills .empat {
    width: 17rem;
    color: #cacbcc;
    background-color: #2c2d41;
    padding: 40px  30px 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.my-skills .empat h4 {
    margin: 20px 0;
}

.my-skills .lima i {
    font-size: 35px;
    color: #FE4E57;
    
}

.my-skills .lima {
    width: 17rem;
    color: #cacbcc;
    background-color: #2c2d41;
    padding: 40px  30px 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.my-skills .lima h4 {
    margin: 20px 0;
}

.my-skills .enam i {
    font-size: 35px;
    color: #FE4E57;
    
}

.my-skills .enam {
    width: 17rem;
    color: #cacbcc;
    background-color: #2c2d41;
    padding: 40px  30px 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.my-skills .enam h4 {
    margin: 20px 0;
}
/* Akhir Skills */

/* Awal About Me */
.about {
    width: 100%;
    height: 40rem;
    padding: 4rem 15rem;
    background-color: #2c2d41;
    position: relative;
}

.img-about {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 2em;
    right: 0;
    margin-right: 5em;
    /* background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .1)), url(img/thomas2.png);
    background-position: center;
    background-size: cover; */
}

.up-about {
    text-align: center;
}

.up-about h2 {
    color: #cacbcc;
    margin: 20px 0;
}

.up-about .about-desc {
    color: #cacbcc;
    width: 30em;
    margin: auto;
}

.my-about {
    display: flex;
    color: #cacbcc;
    justify-content: center;
}

.my-about h3 {
    margin: 15px 0;
}

.my-about-identitas {
    display: flex;
    justify-content: space-between;
}

.identitas-tebal {
    color: #fe4e57;
    font-weight: bold;
    margin: 1px 0;
}

.jrk {
    margin-top: 20px;
}
/* Akhir About Me */

/* Awal Project */
.project {
    width: 100%;
    height: max-content;
    padding: 4rem 15rem;
    background-color: #1F2235;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.up-project {
    text-align: center;
}

.up-project h2 {
    color: #cacbcc;
    margin: 20px 0;
}

.up-project .project-desc {
    color: #cacbcc;
    width: 30em;
    margin: auto;
}

.my-project {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lebar-project {
    min-width: 30ch;
}

.project-satu {
    color: #cacbcc;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../project/project-satu/img/webTravel.png);
    padding: 10rem 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
    border-radius: .5rem;
    overflow: hidden;
    margin: 0;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.project-dua {
    color: #cacbcc;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(../project/project-dua/img/PortFolio.png);
    padding: 10rem 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    /* max-width: 37ch; */
    /* min-width: 29ch; */
    border-radius: .5rem;
    overflow: hidden;
    margin: 0;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.project-tiga {
    color: #cacbcc;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(../project/project-tiga/img/popuplogin.png);
    padding: 10rem 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    /* max-width: 37ch; */
    /* min-width: 29ch; */
    border-radius: .5rem;
    overflow: hidden;
    margin: 0;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.project-empat {
    color: #cacbcc;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(../project/project-empat/img/topgames.png);
    padding: 10rem 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    /* max-width: 37ch; */
    /* min-width: 29ch; */
    border-radius: .5rem;
    overflow: hidden;
    margin: 0;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.project-lima {
    color: #cacbcc;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(../project/project-lima/img/Contact-Form.png);
    padding: 10rem 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    /* max-width: 37ch; */
    /* min-width: 29ch; */
    border-radius: .5rem;
    overflow: hidden;
    margin: 0;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.project-enam {
    color: #cacbcc;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(../project/project-enam/img/coffeePage.png);
    padding: 10rem 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
    /* max-width: 37ch; */
    /* min-width: 29ch; */
    border-radius: .5rem;
    overflow: hidden;
    margin: 0;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.project-content {
    --padding: 1.5rem;
    padding: var(--padding);
    padding-bottom: 10px;
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / .1) 20%, hsl(0 0% 0% / 1));
    transform: translateY(50%);
    transition: transform 500ms ease;
    cursor: pointer;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    -webkit-transition: transform 500ms ease;
    -moz-transition: transform 500ms ease;
    -ms-transition: transform 500ms ease;
    -o-transition: transform 500ms ease;
}

/* .project-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
} */

.project-satu:hover .project-content,
.project-satu:focus-within .project-content {
    transform: translateY(1px);
    transition-delay: 500ms;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}
.project-dua:hover .project-content,
.project-dua:focus-within .project-content {
    transform: translateY(1px);
    transition-delay: 500ms;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}
.project-tiga:hover .project-content,
.project-tiga:focus-within .project-content {
    transform: translateY(1px);
    transition-delay: 500ms;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}
.project-empat:hover .project-content,
.project-empat:focus-within .project-content {
    transform: translateY(1px);
    transition-delay: 500ms;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}
.project-lima:hover .project-content,
.project-lima:focus-within .project-content {
    transform: translateY(1px);
    transition-delay: 500ms;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}
.project-enam:hover .project-content,
.project-enam:focus-within .project-content {
    transform: translateY(1px);
    transition-delay: 500ms;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}

.card-title {
    position: relative;
    width: max-content;
    font-size: 20px;
    color: #FE4E57;
    font-weight: 600;
    bottom: -2.5px;
}

.card-title::before {
    content: '';
    position: absolute;
    width: calc(100% + var(--padding));
    height: 3px;
    top: -5px;
    left: calc(var(--padding) * -1);
    background: #FE4E57;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
    -moz-transition: transform 500ms ease;
    -ms-transition: transform 500ms ease;
    -o-transition: transform 500ms ease;
}

.project-satu:hover .card-title::before,
.project-satu:focus-within .card-title::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.project-dua:hover .card-title::before,
.project-dua:focus-within .card-title::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.project-tiga:hover .card-title::before,
.project-tiga:focus-within .card-title::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.project-empat:hover .card-title::before,
.project-empat:focus-within .card-title::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.project-lima:hover .card-title::before,
.project-lima:focus-within .card-title::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.project-enam:hover .card-title::before,
.project-enam:focus-within .card-title::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.lebih-banyak {
    margin-top: 20px;
    text-align: center;
}
/* Akhir Project */

/* Awal Contact Me */
.contact {
    min-height: 100vh;
    background-color: #2c2d41;
}

.container-contact {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    /* overflow-y: auto; */
    /* background-color: #2c2d41; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 820px;
    height: max-content;
    background-color: #2c2d41;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-form {
    background-color: #1F2235;
    position: relative;
}

/* .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */

.contact-form::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1F2235;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}


form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #FE4E57;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.contact-btn {
    padding: 0.6rem 1.3rem;
    font-size: 0.95rem;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: .3s;
    margin: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span::before,
.input-container span::after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #1F2235;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before {
    left: 50%;
}

.input-container span:after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}


.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info .title {
    color: #FE4E57;
}

.text {
    color: #cacbcc;
    margin: 1.5rem 0 2rem 0;
}

.information {
    display: flex;
    color: #cacbcc;
    margin: 0.7rem 0;
    align-items: center;
    font-size: .95rem;
}

.icon {
    width: 28px;
    margin-right: 0.7rem;
}

.social-media {
    padding: 2rem 0 0 0;
}

.social-media p {
    color: #cacbcc;
}

.social-icons {
    display: flex;
    margin-top: .5rem;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #e63e46, #a8171e);
    color: #cacbcc;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}


.social-icons a:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.contact-info::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    border: 22px solid #FE4E57;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: .3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #e63e46, #a8171e);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 30%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-40%, 30%);
    -moz-transform: translate(-40%, 30%);
    -ms-transform: translate(-40%, 30%);
    -o-transform: translate(-40%, 30%);
}

.big-circle::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #2c2d41;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: .2;
    -webkit-transform: translate(181%, 11%);
    -moz-transform: translate(181%, 11%);
    -ms-transform: translate(181%, 11%);
    -o-transform: translate(181%, 11%);
}

.btn{
	width: 90px;
	height: 45px;
	background: none;
	/* border-top: 2px dashed #00FF00;
	border-bottom: 2px dashed #00FF00;
	border-left: 2px solid #00FF00;
	border-right: 2px solid #00FF00; */
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 500ms;
}

.btn span, .btn svg{
	position: absolute;
	color: #cacbcc;  
	fill: transparent;
	/* font-size: 10px; */
	letter-spacing: .2em;
	font-weight: 400;
}

.btn span {
    font-size: 14px;
    font-weight: bold;
}

.btn:focus{
	outline: none;
	border: 2px solid transparent;
	width: 1px;
	border-left: 2px solid #fe4e57;
	border-bottom: 2px solid #FE4E57;
	animation: spin 2s 500ms forwards;
}
.btn:focus span{
	color: transparent;
}
.btn:focus svg{
	animation: check 500ms 2300ms forwards;
}

/* Let's Animate */

@keyframes spin {
	80%{
		border: 2px solid transparent;
		border-left: 2px solid #00FF00;
	}
	100%{
		transform: rotate(1080deg);
		border: 2px solid #00FF00;
	}
}
@keyframes check{
	to{fill: #00FF00;}
}


/* Alert */
.alert{
    background: #c5f3d7;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #2dd575;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.alert.hide{
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #22b063;
    font-size: 30px;
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #22b063;
}

.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #94ebb8;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover{
    background: #85dba9;
}

.alert .close-btn .fas{
    color: #1fab5d;
    font-size: 22px;
    line-height: 40px;
}
/* Alert */



@media (max-width: 920px) {
    .home {
        padding: 0 5rem;
    }

    .home .info-home .sosmed-home {
        margin-left: 70px;
    }

    .home .info-home .info-name {
        margin-left: 70px;
    }

    .home .info-home button {
        margin-left: 70px;
    }

    .home .img-home {
        width: 300px;
        bottom: -87px;
    }

    .skills {
        padding: 4rem 5rem;
    }

    .about {
        padding: 4rem 5rem;
    }

    .project {
        padding: 4rem 5rem;
    }

    .form {
        grid-template-columns: 1fr;
    }

    .contact-info::before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
    }
    
    .contact-form::before {
        top: -13px;
        left: initial;
        right: 70px;
    }

    .square {
        transform: translate(140%, 43%);
        height: 350px;
        -webkit-transform: translate(140%, 43%);
        -moz-transform: translate(140%, 43%);
        -ms-transform: translate(140%, 43%);
        -o-transform: translate(140%, 43%);
    }
    
    .big-circle {
        bottom: 75%;
        transform: scale(.9) translate(-40%, 30%);
        right: 50%;
        -webkit-transform: scale(.9) translate(-40%, 30%);
        -moz-transform: scale(.9) translate(-40%, 30%);
        -ms-transform: scale(.9) translate(-40%, 30%);
        -o-transform: scale(.9) translate(-40%, 30%);
    }

    .text {
        margin: 1rem 0 1.5rem 0;
    }

    .social-media {
        padding: 1.5rem 0 0 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
    }

    .contact-info:before {
        display: none;
    }

    .square,
    .big-circle {
        display: none;
    }

    form,
    .contact-info {
        padding: 1.7rem 1.6rem;
    }

    .text,
    .information,
    .social-media p {
        font-size: 0.8rem;
    }

    .title {
        font-size: 1.15rem;
    }

    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .icon {
        width: 23px;
    }

    .input {
        padding: 0.45rem 1.2rem;
    }

    .btn {
        padding: 0.45rem 1.2rem;
    }
}
/* Akhir Contact Me */