@font-face {
  font-family: "Poppins";
  src: url(Poppins/Poppins-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", cursive;
  font-size: 15px;
}


/* Navbar */
nav {
  width: 100%;
  background-color: #0d6efd;
  padding: 1% 8%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.container {
  display: flex;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  display: flex;
}

ul li {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: rgb(236, 237, 243);
}

ul li a:hover {
  color: white;
}

nav .fas {
  display: none;
}

section {
  padding-top: 50px;  
}

/* My Profile */
.hero1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 600px; */
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0;
  background-color: #dbedfc;
}

.row {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
  margin: auto;
}

.row img {
  width: 100%;
}

.hero1 h1 {
  padding: 0 0;
  font-size: 3.2em;
  font-weight: 300;
}

.hero1 p {
  font-size: 1.5em;
  font-weight: 280;
}

/* About */
.hero2  {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 550px; */
}

.container1 {
  width: 80%;
  margin: 50px auto;
  height: 250px;
}

.row1 {
  text-align: center;
}

.row1 .col1 h2 {
  font-size: 30px;
  font-weight: 600;
}

.row2 {
  display: flex;
  justify-content: space-evenly;
}

.col1 {
  margin-bottom: 20px;
}

.col2 {
  width: 45%;
}

.col2 p {
  font-size: 16px;
}

.col3 {
  width: 45%;
}

.col3 p {
  font-size: 16px;
}

/* My Project */
.hero3 {
  width: 100%;
  /* margin: 50px auto; */
  background-color: rgb(219, 237, 252);
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}
.container2 {
  width: 80%;
  background-color: rgb(219, 237, 252);
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title h2 {
  font-size: 30px;
  font-weight: 600;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumnail {
  width: 30%;
  margin: 10px;
}

.thumnail img {
  width: 100%;
}

.caption {
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}

/* Contact Me */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container4 {
  height: 500px;
  width: 80%;
  margin: 0px auto;
}

.row4 {
  display: flex;
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

form button{
  margin-top: 10px;
}

.isi {
  width: 100%;
  margin-top: 15px;
}

.isi label {
  margin-top: 10px;
}

.isi input,
.isi textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 5px;
  outline: none;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  outline-width: 3px;
  outline-style: solid;
  outline-color: rgb(179, 213, 241);
  transition: .1s;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 60px;
  border: none;
  background-color: #0d6efd;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s ease background-color;
}

button[type="submit"]:active {
  outline-width: 3px;
  outline-style: solid;
  outline-color: rgb(179, 213, 241);
  transition: .2s;
}

button[type="submit"]:hover {
  background-color: #0858cf;
}

#status {
  width: 90%;
  max-width: 630px;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 8px;
}

#status.success {
  background-color: rgb(211,250,153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250,129,92);
  color: #fff;
  animation: status 4s ease forwards;
}

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  color: white;
  background-color: #0d6efd;
}

.fas.fa-heart {
  color: red;
}

footer a {
  color: white;
  font-weight: 600;
}





@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}







/* For Tablet Phone */
@media screen and (max-width: 700px) {
  nav {
    padding: 1.2% 8%;
  }

  .logo {
    font-size: 1.3em;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    background-color: rgb(255, 0, 0);
    transition: 1s;
  }

  ul {
    position: absolute;
    top: 50px;
    text-align: left;
    width: 105px;
    padding-left: 10px;
    margin: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 0, 0);
  }

  ul li { 
    padding: 10px 5px;
    position: relative;
    display: inline-block;
  }

  ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background-color: white;
    transition: .5s;
  }

  ul li a:hover::after {
    width: 100%;
  }

  nav .fas {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
  }

  nav .fas.fa-times {
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    width: 100%;
    z-index: 1;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .row2 .col2, .col3 {
    width: 70%;
  }

  .col2 p {
    margin-bottom: 30px;
    justify-content: center;
  }

  .thumnail {
    width: 100%;
  }
}

/* For Mobile Phone */
@media screen and (max-width: 576px) {
  .col2 p, .col3 p{
    font-size: 12px;
  }
}
